.block {
  padding: 1rem 0;
  width: 100%;
  text-align: center;

  &__text,
  &__img {
    width: 100%;
  }

  &__text {
    font-size: 1.2rem;
    border: 0;
    display: flex;
    flex-direction: column;
  }

  &__input {
    font-size: 1.5rem;
    border: 0;
  }

  &__control {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

  & + & {
    margin-top: 1rem;
  }
}