@import '_variables';

.bottom-menu {
  &__content {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 1rem 0;
    background: $color-gray;
    transition: ease-in-out .3s;
    z-index: 500;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
  }

  &__h3 {
    font-weight: bold;
    font-size: .9rem;
    padding: .5rem 1rem;
    opacity: .6;
  }

  &__list {
    padding: 1rem;
  }

  &__list-item {
    cursor: pointer;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      background: $color-violet;
      padding: 1rem;
      border-radius: .5rem;
      margin-right: .8rem;
      color: $color-white;
      transition: ease-in-out .2s;

      &:hover {
        opacity: .7;
      }
    }

    & + & {
      margin-top: 2rem;
    }
  }
}
