@import '_variables.scss';

.button {
  width: 3rem;
  height: 3rem;
  background: $color-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: .3rem;

  &--transparent {
    opacity: .5;

    &:hover {
      transition: ease-in-out .3s;
      opacity: 1;
    }
  }

  &--menu {
    position: fixed;
    top: .5rem;
    right: .5rem;
  }

  &--add {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
  }
}