@import '_variables';

.image-gallery {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    transition: ease-in-out .3s;
    position: fixed;
    top: 0;
  }

  &__list {
    background: $color-white;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem 0 1rem 1rem;
    border-radius: .5rem;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-bottom: -2rem;
    padding-bottom: 1rem;
  }

  &__list-item {
    box-sizing: content-box;

    & + & {
      margin-left: .2rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  &__img {
    width: 6rem;
    border-radius: .5rem;
    cursor: pointer;
  }

  &__control {
    display: flex;
    justify-content: center;
  }

  &__button {
    background: $color-white;
    color: $color-blue;
    width: 100%;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-style: none;
    border-radius: .5rem;
    cursor: pointer;
  }
}